{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
    {% block head %}
    {% endblock head %}
   
    
</head>

<body >
    {% block body %}
    
    {% endblock body %}
</body>

<footer>
    {% block footer %}
    {% endblock footer %}
</footer>

<script src='https://code.jquery.com/jquery-3.5.1.js' type='text/javascript'></script>
<script src='{% static "js/controls.js" %}' type='text/javascript'></script>
<script src='{% static "js/base.js" %}' type='text/javascript'></script>
{% block javascript %}
{% endblock javascript %}

</html>