{% block footer %}
<div id='loginFooter'>
    <div class='contentContainer'>
        <div class='content'>
            <div class='termsAndPrivacy'>
                <a href='https://harmonysystems.co/terms-and-conditions/'>Terms</a>
                <a href='https://harmonysystems.co/privacy-policy/'>Privacy Policy</a>
            </div>
            <span>&copy; {% now "Y" %} Harmony Systems (PTY) Ltd. All Rights Reserved. </span>
        </div>
    </div>
</div>
{% endblock footer %}